/* Temporary class */
.test{
    background: black;
}

/* font design */

@font-face{
    font-family: noto;
    src: url(../font/JP/NotoSansJP-Regular.otf) format('opentype');
}

@font-face{
    font-family: noto-b;
    src: url(../font/JP/NotoSansJP-Black.otf) format('opentype'),
    url(../font/JP/NotoSansJP-Bold.otf) format('opentype');
}
.font-noto {
    font-family: noto;
}

h1, h2, h3, h4, h5{
    font-family: noto-b;
}
h1 {
    font-size: 42px;
}
h2 {
    font-size: 34px;
    margin-top: 50px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #666;
    border-left: solid 4px #666;
}
h3 {
    font-size: 29px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: dashed 2px #999;
    border-left: double 12px #999;
}
h4 {
    font-size: 24px;
    border-bottom: dotted 2px #999;
    padding-bottom: 3px;
}

/* font design END */



/* body design and font color */

body {
    background-color: #fff;
    color: #333;
}
body a {
    color: #ff2222;
}
body a:hover {
    color: #ff9e7b;
    text-decoration: unset;
}

/* body design and font color END */


/* header.html (for header (top navigation) design) */

.tab-color {
    background: #333;
    font-family: noto;
    border-bottom: solid 1px #666;
}
.navbar-brand2 {
    color: rgb(216, 216, 216);
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(216, 216, 216);
}

/* header (header.html design) END */

/* main (each index.html design) */

#_main {
    overflow-x: auto;
    overflow-y: auto;
    display: block;
    margin-top: 3.5rem;
    height: -webkit-calc(100vh - 3.5rem);
}

#_main_left, #_main_right {
    height: 100%;
}

.left-panel{
    background: #333;
    color: #fff;
    border-right: solid 1px #666;
    height: -webkit-calc(100vh - 3.5rem);
    overflow-y: auto;
    width: 100%;
}

.right-panel {
    height: -webkit-calc(100vh - 3.5rem);
}

.row-custom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 4px;
}

/* main (each index.html design) END */

/* li design */
li {
    margin-left: 0rem;
}
/* li design END */

/*scroll bar*/

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: #7a7a7a;
}

.scrollable-menu {
    height: auto;
    max-height: 100vh;
    overflow-x: hidden;
}

/*scroll bar END*/


