/* Temporary class */
.test {
  background: black;
}

/* font design */
/*
@font-face{
    font-family: font-default;
    src: url(../font/JP/NotoSans/NotoSansJP-Light.otf) format('opentype');
}*/
@font-face {
  font-family: font-h;
  src: url(../font/JP/NotoSans/NotoSansJP-Black.otf) format("opentype");
}
@font-face {
  font-family: font-btn;
  src: url(/font/JP/NotoSans/NotoSansJP-Regular.otf) format("opentype");
}
@font-face {
  font-family: font-logo;
  src: url(../font/EN/Odibee_Sans/OdibeeSans-Regular.ttf) format("opentype");
}
/*
@font-face{
    font-family: mpr1c;
    src: url(/font/JP/MPlusRounded1c/MPLUSRounded1c-Regular.ttf) format('truetype');
}
@font-face{
    font-family: mpr1c-b;
    src: url(/font/JP/MPlusRounded1c/MPLUSRounded1c-ExtraBold.ttf) format('truetype');
}
@font-face{
    font-family: mpr1c-m;
    src: url(/font/JP/MPlusRounded1c/MPLUSRounded1c-Medium.ttf) format('truetype');
}
*/
.font-default {
  font-family: font-btn;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: font-h;
}
h1 {
  padding-top: 16px;
  font-size: 30px;
}
h2 {
  font-size: 25px;
  margin-top: 30px;
  padding-top: 4px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-left: solid 14px #ff2d07;
  border-bottom: solid 2px #5a5a5a;
}
h3 {
  font-size: 22px;
  padding-top: 4px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: dashed 2px #5a5a5a;
  border-left: solid 8px #ff2d07;
}
h4 {
  font-size: 19px;
  border-left: double 6px #ff2d07;
  padding-left: 6px;
  padding-bottom: 7px;
}
h5 {
  font-size: 17px;
  font-weight: bold;
  position: relative;
  padding: 1px 0px 0px 1.6em;
  margin-bottom: 5px;
}
h5::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: url("../font/svg/check-24px.svg");
  width: 10px;
  height: 10px;
  line-height: 20px;
  font-size: .9em;
  text-align: center;
}
strong {
  background: linear-gradient(transparent 80%, #ff2d07 60%);
  font-weight: bold;
}
p + h3 {
  margin-top: 12px;
}
p + h4 {
  margin-top: 8px;
}

/* font design END */

/* body design and font color */
body {
  background-color: rgb(26, 25, 25);
  color: #d8d8d8;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
body a {
  color: #ff856f;
}
body a:hover {
  color: #ffeb37;
  text-decoration: unset;
}
p {
  margin: 0px !important;
}
/* body design and font color END */

/* header.html (for header (top navigation) design) */

.tab-color {
  background: #2a2a2c;
  font-family: noto;
  width: 100vw;
  box-shadow: 0px 1px 4px #18181a;
  border-bottom: solid 1px #646464;
}
.tab-logo{
  font-family: font-logo;
  padding-right: 0px;
  font-size: 28px;
}
.breadcrumb-item-padding{
  padding-top: 8px;
}
.navbar-dark .navbar-toggler {
  color: #ffffff80;
  border-color: #ffffff00;
}
.navbar-dark .navbar-toggler:focus {
  outline: 0;
}
.navbar-brand2 {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar-dark .navbar-nav .nav-link {
  color: #d8d8d8;
}
ol.breadcrumb {
  padding: 0px;
  margin: 0px;
  background: rgba(0, 0, 0, 0);
}
li.breadcrumb-item a {
  color: #d8d8d8;
}
li.breadcrumb-item a:hover {
  color: #ffeb37;
  text-decoration: unset;
}
li.breadcrumb-item.active {
  color: #ff2d07;
  font-weight: bold;
}

/*
.pos-f-t .nav-link[aria-expanded="false"]:after {
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTUuNDEgMTYuNTlMMTAuODMgMTJsNC41OC00LjU5TDE0IDZsLTYgNiA2IDYgMS40MS0xLjQxeiIvPjxwYXRoIGZpbGw9Im5vbmUiIGQ9Ik0wIDBoMjR2MjRIMFYweiIvPjwvc3ZnPg==);
    color: white;
}

.pos-f-t .nav-link[aria-expanded="true"]:after {
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNy40MSA4LjU5TDEyIDEzLjE3bDQuNTktNC41OEwxOCAxMGwtNiA2LTYtNiAxLjQxLTEuNDF6Ii8+PHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgyNHYyNEgwVjB6Ii8+PC9zdmc+);
    color: white;
}
*/
/* header (header.html design) END */

/* main (each index.html design) */

#main_left {
  height: 100%;
}
.left-panel {
  background: #1a1919;
  height: 100vh;
  overflow-y: auto;
  width: 100%;
  border-right: solid 1px #646464;
  padding-right: 10px;
}
.left-panel-contents-scroller{
  max-height: -webkit-calc(100vh - 80px);
  overflow-y: auto;
}
.left-panel-contents-frame{
  padding: 14px;
}
.left-panel-title {
  background: #232324;
  font-size: 18px;
  box-shadow: 0px 1px 4px #111213;
  border-bottom: solid 1px #646464;
}
.left-panel-title-frame {
  padding-top: 5px;
  padding-right: 14px;
  padding-left: 14px;
  width: 100%;
  height: 40px;
}
.left-panel-title-border {
  height: 100%;
  width: 100%;
  /*border-bottom: solid 1px #666;*/
}
#main_right {
  padding-left: 15px;
  padding-right: 15px;
  overflow-x: auto;
  overflow-y: auto;
  display: block;
  height: 100%;
}
.right-panel {
  /* .col-lg-9 padding left & right */
  width: 100%;
}
.right-panel-adjustment {
  height: -webkit-calc(100vh - 40px);
}
.col-lg-9 {
  /* default padding: left 15px, right 15px */
  padding-left: 0px;
  padding-right: 0px;
}
.header-width {
  width: 100%;
}
.row-custom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 5px;
}
.custom-control-label{
  font-size: 15px;
}
.custom-control{
  width: 100%;
}
/* main (each index.html design) END */

/* li design */
div > ul,
div > ol {
  padding-left: 20px;
}
/* bootstrap ver 4.4*/
/* for smart phones (xs)*/
@media screen and (min-width:0px) and (max-width:575.98px) {
  li {
    margin-left: 6px;
  }
  ul,
  ol {
    /*padding-left: 6px;*/
    padding-left: 5px;
    margin-bottom: 20px;
  }
}
/* for landscape phones (sm) ~ desktop (lg)*/
@media screen and (min-width:576px) and (max-width:1199.98px) {
  li {
    margin-left: 6px;
  }
  ul,
  ol {
    /*padding-left: 6px;*/
    padding-left: 12px;
    margin-bottom: 20px;
  }
}
/* for large desktop (xl)*/
@media screen and (min-width:1200px){
  li {
    margin-left: 6px;
  }
  ul,
  ol {
    /*padding-left: 6px;*/
    padding-left: 19px;
    margin-bottom: 20px;
  }
}

/* li design END */

/*scroll bar*/

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb {
  background-color: #616161;
}
.scrollable-menu {
  padding: 0 0 0 6px;
  max-height: 100vh;
  overflow-x: hidden;
}

/*scroll bar END*/

/*Table css*/
/*************
  Dark Theme (by thezoggy)
 *************/

/* overall */

table {
  border-collapse: unset;
}

tbody,
tfoot,
thead {
  /*border: 1px solid #f1f1f1;*/
  background-color: rgba(0, 0, 0, 0);
}

tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0);
}

.table {
  padding-top: 7px;
}

.table td,
.table th {
  border-top: inherit;
}

.table thead th {
  border-bottom: inset 1px #383B40;
}

table tbody td,
th {
  border-bottom: inset 1px #383B40;
}

.table td,
.table th {
  padding: 0.3rem;
}

.title-font {
  font-size: 4.5mm;
}

tr a {
  color: #d8d8d8;
}

tr {
  color: #d8d8d8;
}

/*tag button*/
.btn-column {
  font-family: font-btn;
  display: inline-block;
  padding: 0em 0.3em;
  margin-right: 3px;
  margin-top: 3px;
  text-decoration: none;
  background: white;
  color: black;
  border-radius: 5px;
  font-size: 4mm;
}

.btn-column:hover,
.bc-hovered {
  color: #fff !important;
  /* Prevent inheritance from `body` */
  background-color: #333 !important;
}
a#madebyobarads{
  color: white;
}
.column-hidden {
  display: none;
}

.btn-flat {
  font-family: font-btn;
  text-shadow: none;
  display: inline-block;
  padding: 0em 0.3em;
  margin-right: 3px;
  margin-top: 3px;
  text-decoration: none;
  background: orange;
  color: white;
  border-radius: 5px;
  font-size: 3.7mm;
}

.btn-flat:hover,
.hovered {
  color: #fff !important;
  /* Prevent inheritance from `body` */
  background-color: #333 !important;
}

.expanded {
  font-size: 0.7cm;
}

label {
  color: rgb(255, 255, 255);
  font-size: 17px;
}

.tag_name {
  color: rgb(255, 255, 255);
  font-size: 5mm;
}

/* header */

/*tabel css end*/
