/* all directory design */

@font-face{
    font-family: noto;
    src: url(../font/JP/NotoSansJP-Regular.otf) format('opentype');
}

@font-face{
    font-family: noto-b;
    src: url(../font/JP/NotoSansJP-Black.otf) format('opentype'),
    url(../font/JP/NotoSansJP-Bold.otf) format('opentype');
}

.ff-noto {
    font-family: noto;
}

body {
    background-color: white;
    color: #333;
}

h1, h2, h3, h4, h5{
    font-family: noto-b;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 34px;
    margin-top: 50px;
    padding-left: 10px;
    border-left: solid 4px #666;
    padding-bottom: 10px;
    border-bottom: solid 1px #666;
}

h3 {
    font-size: 29px;
    padding-left: 10px;
    border-left: double 12px #999;
    padding-bottom: 10px;
    border-bottom: dashed 2px #999;
}

h4 {
    font-size: 24px;
    border-bottom: dotted 2px #999;
    padding-bottom: 3px;
}

li {
    margin-left: 0.5rem;
}

body a {
    color: #167ac6;
}

body a:hover {
    color: rgb(255, 158, 123);
    text-decoration: unset;
}

/* header.html design */
.tab-color {
    background: #310683;
    filter: drop-shadow(1px 2px 2px rgba(0,0,0,0.6));
    font-family: noto;
}

.navbar-brand2 {
    color: #fff;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

/*index menu*/

@media screen and (max-width: 576px) {
    #sidebar {
        padding: 1rem;
    }
}

.row-pad {
    padding-bottom: 1rem;
}

.row-h {
    height: 85vh;
}

#t-con {
    display: block;
    margin-top: 3.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    height: -webkit-calc(100vh - 3.5rem);
    box-shadow: 0px 0px 4px -2px gray inset
}

#s-con {
    background: #333;
}

@media screen and (min-width: 575px) {
    #s-con {
        position: fixed;
        display: block;
        margin-top: 3.5rem;
        padding-right: 1.5rem;
        padding-top: 0.5rem;
        overflow-x: hidden;
        overflow-y: auto;
        height: -webkit-calc(100% - 3.5rem);
    }
}

#l-sb {
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.scrollable-menu {
    height: auto;
    max-height: 100vh;
    overflow-x: hidden;
}

/* papers directory design */

#content img {
    margin: 0px auto;
    display: block;
    max-width: 100%;
}

#content-p {
    padding-top: 2.0rem;
    overflow-x: auto;
    overflow-y: auto;
    display: block;
    margin-top: 3.5rem;
    height: -webkit-calc(100vh - 3.5rem);
}

/*scroll bar*/

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: #7a7a7a;
}