@font-face{
    font-family: 'gensen-font';
	src: url(../font/JP/GenSenMaruGothicJP-Light.ttf);
}

body{
    font-family: gensen-font;
    background-color: rgb(40,34,42);
    color: white;
}

body a{
    color: aquamarine;
}

body a:hover{
    color: coral;
}

#content img{
    margin: 0px auto;
    display: block;
}

#content ol{
    padding: 0 20px 0 20px;
}

#content ul{
    padding: 0 20px 0 20px;
}

.purple{
    background-color: purple;
}

.kityou{
    background-color: rgb(79, 0, 178);
    color: white;
}

.konruri{
    background-color: rgba(32,0,152,01);

;}

.top-bar a{
    color: white;
}

.top-bar ul{
    background-color: rgba(0, 0, 0, 0);
}

.cell-padding{
    padding: 13px;
}