/* colors */

.purple {
    background-color: purple;
}

.kityou {
    background-color: rgb(79, 0, 178);
}

.konruri {
    background-color: rgba(32, 0, 152, 01);
}

.greenyellow {
    background-color: greenyellow;
    color: black;
}

.green {
    background-color: green;
    color: white;
}

.tab-color {
    background-color: rgb(58, 97, 85);
}

/* all directory design */

@font-face {
    font-family: 'gensen-font';
    src: url(../font/JP/GenSenMaruGothicJP-Light.ttf);
}

body {
    font-family: gensen-font;
    background-color: rgb(40, 34, 42);
    color: white;
}

p {
    margin-top: 1rem;
}

li {
    margin-left: 0.5rem;
}

body a {
    color: aquamarine;
}

body a:hover {
    color: coral;
}
/* header.html design */

.top-bar a {
    color: white;
}

.top-bar ul {
    background-color: rgba(0, 0, 0, 0);
}

/*index menu*/
.adjustment-pad {
    padding: 0rem 0rem 0rem 1.0rem;
}
@media screen and (max-width: 576px) {
    #sidebar {
        padding: 1rem;
    }
}

.row-pad {
    padding-bottom: 1rem;
}
.row-h{
    height: 85vh;
}

#t-con {
    margin-top: 3.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    height: -webkit-calc(100vh - 3.5rem) ;
}

@media screen and (min-width: 575px) {
    #l-sb {
        position: fixed;
        display: block;
        margin-top: 3.5rem;
        padding-right: 1.5rem;
        padding-top: 0.5rem;
        overflow-x: hidden;
        overflow-y: auto;
        height: -webkit-calc(100% - 3.5rem) ;
    }
}

/* papers directory design */

#content img {
    margin: 0px auto;
    display: block;
    max-width: 100%;
}

/*scroll bar*/

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
	background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar
{
	width: 8px;
	background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb
{
	background-color: rgba(0, 0, 0, 0);
	border: 4px solid #7a7a7a;
}
