/* detail */
div.MathJax_Display {
    overflow-x: auto;
    overflow-y: hidden;
}

p img {
    margin: 0px auto;
    display: block;
    max-width: 100%;
}

.toc-contents {
    width: 100%;
}

.toc-contents-padding{
    padding-top: 10px;
}

.toc-contents a:hover {
    color: #ff9e7b;
    text-decoration: unset;
}

.toc-title{
    padding-top: 100px;
    font-size: 17px; 
    color: white;
}
.toc{
    padding-left: 8px;
    padding-bottom: 0px;
}
.toc-outer{
    padding-top: 10px;
}
.toc-outer a{
    color: white;
}
.toc-con-2{
    margin-top: 15px;
    width: 100%;
    border-left: solid 6px #666;
    border-bottom: solid 1px #666;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 1px;

}
.toc-con2-2{
    margin-left: 5px;
    width: 100%;
}
.toc-con-3{
    margin-top: 10px;
    width: 100%;
    border-left: solid 3px #999;
    border-bottom: dashed 1px #999;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 1px;
}
.toc-con2-3{
    margin-left: 5px;
    width: 100%;
}
.toc-con-4{
    margin-top: 7px;
    border-bottom: dashed 1px #999;
}
.toc-con2-4{
    margin-left: 2px;
    width: 100%;
}
.toc-con-5{
}
.toc-con2-5{
    margin-left: 8px;
    margin-top: 4px;
    font-size: 14px;
    width: 100%;
}
