/* search */

._filter_input {
  margin-bottom: 5px;
}

._initialization_button {
  font-family: mpr1c-b;
  margin-bottom: 13px;
}

/* detail */
div.MathJax_Display {
  overflow-x: auto;
  overflow-y: hidden;
}

p img, li img {
  margin: auto;
  padding-bottom: 13px;
  display: block;
  max-width: 100%;
}

li:not(.breadcrumb-item) {
  width: 100%;
}

.toc-contents {
  width: 100%;
}
.toc-contents a:hover {
  color: #ff856f;
  text-decoration: unset;
}

.toc-title {
  font-size: 17px;
  color: white;
  padding-bottom: 7px;
}
.toc-title-frame {
  width: 100%;
  margin-bottom: 7px;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #ff2d07;
    background-color: #ff2d07;
}
.toc-2 {
  padding-left: 0px;
  padding-top: 16px;
  font-size: 17px;
  width: 100%;
}
.toc-con-2 {
  width: 100%;
  border-left: solid 6px #ff2d07;
  border-bottom: solid 1px #666;
}
.toc-con2-2 {
  margin-left: 5px;
  width: 100%;
}
.toc-2 a {
  color: #ffffff;
}
.toc-3 {
  padding-left: 10px;
  padding-top: 8px;
  font-size: 16px;
}
.toc-con-3 {
  width: 100%;
  border-left: solid 3px #ff2d07;
  border-bottom: dashed 1px #999;
}
.toc-con2-3 {
  margin-left: 5px;
  width: 100%;
}
.toc-3 a {
  color: #ffffff;
}
.toc-4 {
  padding-left: 18px;
  padding-top: 7px;
  font-size: 15px;
}
.toc-con-4 {
  padding-left: 3px;
  border-left: double 3px #ff2d07;
}
.toc-con2-4 {
  margin-left: 2px;
  width: 100%;
}
.toc-4 a {
  color: #ffffff;
}
.toc-5 {
  padding-left: 30px;
  padding-top: 5px;
}
.toc-5 a {
  font-size: 14px;
  color: #ffffff;
  position: relative;
  padding: 1 0 0 0;
}
.toc-5 a::before {
  position: absolute;
  top: 5;
  left:-16;
  content: url("../font/svg/check-14px.svg");
  width: 10px;
  height: 10px;
  line-height: 20px;
  font-size: .9em;
  text-align: center;
}