/*************
  Dark Theme (by thezoggy)
 *************/

/* overall */

table {
    border-collapse: unset
}

tbody, tfoot, thead {
    /*border: 1px solid #f1f1f1;*/
    background-color: rgba(0, 0, 0, 0);
}

tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0);
}

.table{
    padding-top: 7px;
}

.table td, .table th {
    border-top: inherit;
}

.table thead th {
    border-bottom: inset 1px gray;
}

table tbody td, th {
    border-bottom: inset 1px gray;
}

.table td, .table th {
    padding: 0.3rem;
}

.title-font{
    font-size: 4.5mm;
}

tr a{
    color: #333333;
}

tr {
    color: #333333;
}

/*tag button*/
.btn-column {
    display: inline-block;
    padding: 0.0em 0.3em;
    text-decoration: none;
    background: white;
    color: black;
    border-radius: 3px;
    font-size: 4mm;
}
.btn-column:hover,.bc-hovered {
    color: #fff !important;
    /* Prevent inheritance from `body` */
    background-color: #333 !important;
}
.column-hidden {
    display: none;
}

.btn-flat {
    text-shadow: none;
    display: inline-block;
    padding: 0.0em 0.3em;
    text-decoration: none;
    background: orange;
    color: white;
    border-radius: 3px;
    font-size: 3.7mm;
}
.btn-flat:hover, .hovered {
    color: #fff !important;
    /* Prevent inheritance from `body` */
    background-color: #333 !important;
}

.expanded {
    font-size: 0.7cm;
}

label {
    color: rgb(255, 255, 255);
    font-size: 5mm;
}

.tag_name{
    color: rgb(255, 255, 255);
    font-size: 5mm;
}

/* header */

.tablesorter-dark th, .tablesorter-dark thead td {
    border-collapse: collapse;
}

.tablesorter-default .header, .tablesorter-default .tablesorter-header {
    cursor: pointer;
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    background-position: center right;
    background-repeat: no-repeat;
}

.tablesorter-default thead .headerSortUp, .tablesorter-default thead .tablesorter-headerSortUp, .tablesorter-dark thead .tablesorter-headerAsc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}

.tablesorter-default thead .headerSortDown, .tablesorter-default thead .tablesorter-headerSortDown, .tablesorter-dark thead .tablesorter-headerDesc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}

.tablesorter-default thead .sorter-false {
    background-image: none;
    cursor: default;
}