.__Active_Learning{
background:#C52233;
color:#fff;
}

.__Reinforcement_Learning{
background:#C52233;
color:#fff;
}

.__Self-Supervised_Learning{
background:#C52233;
color:#fff;
}

.__Unsupervised_Learning{
background:#C52233;
color:#fff;
}

.__Supervised_Learning{
background:#C52233;
color:#fff;
}

.__Few-Shot_Learning{
background:#C52233;
color:#fff;
}

.__Meta_Learning{
background:#C52233;
color:#fff;
}

.__Weakly_Supervised_Learning{
background:#C52233;
color:#fff;
}

.__Zero-Shot_Learning{
background:#C52233;
color:#fff;
}

.__RGB_Image{
background:#687D69;
color:#fff;
}

.__Depth_Image{
background:#687D69;
color:#fff;
}

.__Mesh{
background:#687D69;
color:#fff;
}

.__Point_Cloud{
background:#687D69;
color:#fff;
}

.__Voxel{
background:#687D69;
color:#fff;
}

.__Video{
background:#687D69;
color:#fff;
}

.__Sound{
background:#687D69;
color:#fff;
}

.__3D_Estimation{
background:#36558F;
color:#fff;
}

.__Adversarial_Examples{
background:#36558F;
color:#fff;
}

.__Analytics{
background:#36558F;
color:#fff;
}

.__Classification{
background:#36558F;
color:#fff;
}

.__Completion{
background:#36558F;
color:#fff;
}

.__Data_Augmentation{
background:#36558F;
color:#fff;
}

.__Dataset{
background:#36558F;
color:#fff;
}

.__Denoising{
background:#36558F;
color:#fff;
}

.__Detection{
background:#36558F;
color:#fff;
}

.__Depth_Estimation{
background:#36558F;
color:#fff;
}

.__Domain_Adaptation{
background:#36558F;
color:#fff;
}

.__Flow_Estimation{
background:#36558F;
color:#fff;
}

.__Gaze_Estimation{
background:#36558F;
color:#fff;
}

.__Instance_Segmentation{
background:#36558F;
color:#fff;
}

.__Labeling{
background:#36558F;
color:#fff;
}

.__One-Class___Anomaly_Detection{
background:#36558F;
color:#fff;
}

.__Oversegmentation{
background:#36558F;
color:#fff;
}

.__Registration{
background:#36558F;
color:#fff;
}

.__Reconstruction{
background:#36558F;
color:#fff;
}

.__SLAM{
background:#36558F;
color:#fff;
}

.__Semantic_Segmentation{
background:#36558F;
color:#fff;
}

.__Super-Resolution{
background:#36558F;
color:#fff;
}

.__Sensor_Fusion{
background:#F15025;
color:#fff;
}

.__AutoEncoder{
background:#F15025;
color:#fff;
}

.__Encoder-Decoder{
background:#F15025;
color:#fff;
}

.__GAN{
background:#F15025;
color:#fff;
}

.__Graph{
background:#F15025;
color:#fff;
}

.__RNN{
background:#F15025;
color:#fff;
}

.__Interpretability{
background:#F15025;
color:#fff;
}

.__Sparsity{
background:#F15025;
color:#fff;
}

.__Synthetic{
background:#F15025;
color:#fff;
}

.__TreeRNN{
background:#F15025;
color:#fff;
}

.__Survey{
background:#F15025;
color:#fff;
}

.__Robot{
background:#F15025;
color:#fff;
}

