.__Site{
background:#d9333f;
color:#fff;
}

.__Conference{
background:#aa08d3;
color:#fff;
}

.__Drawing{
background:#aa08d3;
color:#fff;
}

.__TeX{
background:#aa08d3;
color:#fff;
}

.__Network{
background:#aa08d3;
color:#fff;
}

.__Machine_Learning{
background:#aa08d3;
color:#fff;
}

.__Learning{
background:#aa08d3;
color:#fff;
}

