.__TeX{
background:rgb(0,0,0);
color:#fff;
}

.__Learning{
background:rgb(0,0,0);
color:#fff;
}

.__Network{
background:rgb(0,0,0);
color:#fff;
}

.__Machine_Learning{
background:rgb(0,0,0);
color:#fff;
}

.__Site{
background:rgb(0,0,0);
color:#fff;
}

.__Drawing{
background:rgb(0,0,0);
color:#fff;
}

.__Conference{
background:rgb(0,0,0);
color:#fff;
}

