.__Registration{
background:rgb(0,0,0);
color:#fff;
}

.__Classification{
background:rgb(0,0,0);
color:#fff;
}

.__SLAM{
background:rgb(0,0,0);
color:#fff;
}

.__Simulation{
background:rgb(0,0,0);
color:#fff;
}

.__Preprocessing{
background:rgb(0,0,0);
color:#fff;
}

.__Fine-tuning{
background:rgb(0,0,0);
color:#fff;
}

.__3D_Estimation{
background:rgb(0,0,0);
color:#fff;
}

.__treeRNN{
background:rgb(0,0,0);
color:#fff;
}

.__Point_Cloud{
background:rgb(0,0,0);
color:#fff;
}

.__Detection{
background:rgb(0,0,0);
color:#fff;
}

.__Voxel{
background:rgb(0,0,0);
color:#fff;
}

.__Semantic_Segmentation{
background:rgb(0,0,0);
color:#fff;
}

.__Dataset{
background:rgb(0,0,0);
color:#fff;
}

.__Transfer_learning{
background:rgb(0,0,0);
color:#fff;
}

.__AutoEncoder{
background:rgb(0,0,0);
color:#fff;
}

.__Math{
background:rgb(0,0,0);
color:#fff;
}

.__Instance_Segmentation{
background:rgb(0,0,0);
color:#fff;
}

.__Optimization{
background:rgb(0,0,0);
color:#fff;
}

.__One-Class___Anomaly_Detection{
background:rgb(0,0,0);
color:#fff;
}

.__Analytics{
background:rgb(0,0,0);
color:#fff;
}

.__Adversarial{
background:rgb(0,0,0);
color:#fff;
}

.__2D_Image{
background:rgb(0,0,0);
color:#fff;
}

.__GAN{
background:rgb(0,0,0);
color:#fff;
}

.__Domain_Adaptation{
background:rgb(0,0,0);
color:#fff;
}

.__Graph{
background:rgb(0,0,0);
color:#fff;
}

.__Self-supervised{
background:rgb(0,0,0);
color:#fff;
}

.__Curriculum_learning{
background:rgb(0,0,0);
color:#fff;
}

