.__CV{background:#005FFF;
color:#fff;}

.__NLP{background:#005FFF;
color:#fff;}

.__Unsupervised_Learning{background:#eb6101;
color:#fff;}

.__RGB_Image{background:#228B22;
color:#fff;}

.__Depth_Image{background:#228B22;
color:#fff;}

.__Intensity_Image{background:#228B22;
color:#fff;}

.__Point_Cloud{background:#228B22;
color:#fff;}

.__Mesh{background:#228B22;
color:#fff;}

.__Video{background:#228B22;
color:#fff;}

.__Classification{background:#36558F;
color:#fff;}

.__Detection{background:#36558F;
color:#fff;}

.__Depth_Estimation{background:#36558F;
color:#fff;}

.__Part_Segmentation{background:#36558F;
color:#fff;}

.__Pose_Estimation{background:#36558F;
color:#fff;}

.__Semantic_Segmentation{background:#36558F;
color:#fff;}

.__Object_Generation{background:#36558F;
color:#fff;}

.__Scene_Generation{background:#36558F;
color:#fff;}

.__Texture_Generation{background:#36558F;
color:#fff;}

.__Multi-View{background:#aa08d3;
color:#fff;}

