--find-links https://download.pytorch.org/whl/torch/
--find-links https://download.pytorch.org/whl/torchvision/
torch==1.13.1+cu117
torchvision==0.14.1+cu117
scipy==1.11.1
pillow==10.0.0
opencv-python==4.8.0.74
numpy==1.25.1
munkres==1.1.4
matplotlib==3.7.2
json_tricks==3.17.2
chumpy==0.70
requests==2.29.0
ipykernel==6.15.0
openmim==0.3.9

