/*scroll bar*/

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb {
  background-color: #616161;
}
.scrollable-menu {
  padding: 0 0 0 6px;
  max-height: 100vh;
  overflow-x: hidden;
}
