.actlog-link{
  color: white;
  font-size: 16px;
  text-decoration: unset;
}
.actlog-link:hover{
  color: #ffeb37;
}

.actlog-log{
  color: white;
  font-size: 15px;
}
.actlog-block{
  padding: 3px 3px 9px 9px;
}
