code {
  background-color: #f9f9f9;
  border-radius: 3px;
  border: 1px solid #ddd;
  color: #444;
  display: inline-block;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9em;
  margin: 0px 3px;
  padding: 0px 4px;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  width: 100%;
}

.pound_link_adjustment {
  margin-top: -50px;
  padding-top: 50px;
}

h1 {
  padding-top: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 1000;
}

h2 {
  margin-top: 25px;
  margin-bottom: 0px;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 8px;
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.15rem;
  border-bottom: 1px solid;
  border-left: 5px solid;
  /* width: max-content; */
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-top: 15px;
  margin-bottom: 0px;
}

h4 {
  font-size: 19px;
  border-left: double 6px #ff2d07;
  padding-left: 15px;
  padding-bottom: 2px;
  padding-top: 2px;
  margin: 0px 0px 9px 5px;
}

h5 {
  font-size: 17px;
  font-weight: bold;
  position: relative;
  padding: 3.5px 0px 0px 1.6em;
  margin-top: 0px;
  margin-bottom: 0px;
}

h5::before {
  position: absolute;
  top: 2px;
  left: 0px;
  content: url("../assets/check-24px.svg");
  width: 10px;
  height: 10px;
  line-height: 20px;
  font-size: .9em;
  text-align: center;
}

p {
  margin: 10px 0px 3px 0px;
}

p img,
li img {
  margin: auto;
  padding-bottom: 13px;
  display: block;
  max-width: 100%;
}

/* li design */
div>ul,
div>ol {
  padding-left: 20px;
}

/* bootstrap ver 4.4*/
/* for smart phones (xs)*/
@media screen and (min-width:0px) and (max-width:575.98px) {
  li {
    margin-top: 3px;
  }

  ul,
  ol {
    /*padding-left: 6px;*/
    padding-left: 5px;
    /* margin-bottom: 20px; */
  }
}

/* for landscape phones (sm) ~ desktop (lg)*/
@media screen and (min-width:576px) and (max-width:1199.98px) {
  li {
    margin-top: 3px;
  }

  ul,
  ol {
    /*padding-left: 6px;*/
    padding-left: 15px;
  }
}

/* for large desktop (xl)*/
@media screen and (min-width:1200px) {
  li {
    margin-top: 3px;
  }

  ul,
  ol {
    /*padding-left: 6px;*/
    padding-left: 19px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

blockquote {
  background: #f9f9f9;
  border-left: 4px solid #ccc;
  margin: 0.15em 0em 0em 0em;
  padding: 0.2em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote p {
  display: inline;
}