.__CV{background:#005FFF;
color:#fff;}

.__NLP{background:#005FFF;
color:#fff;}

.__Robot{background:#005FFF;
color:#fff;}

.__Active_Learning{background:#eb6101;
color:#fff;}

.__Reinforcement_Learning{background:#eb6101;
color:#fff;}

.__Self-Supervised_Learning{background:#eb6101;
color:#fff;}

.__Unsupervised_Learning{background:#eb6101;
color:#fff;}

.__Supervised_Learning{background:#eb6101;
color:#fff;}

.__Few-Shot_Learning{background:#eb6101;
color:#fff;}

.__Meta_Learning{background:#eb6101;
color:#fff;}

.__Semi-Supervised_Learning{background:#eb6101;
color:#fff;}

.__Weakly_Supervised_Learning{background:#eb6101;
color:#fff;}

.__Zero-Shot_Learning{background:#eb6101;
color:#fff;}

.__RGB_Image{background:#228B22;
color:#fff;}

.__Depth_Image{background:#228B22;
color:#fff;}

.__Graph{background:#228B22;
color:#fff;}

.__Intensity_Image{background:#228B22;
color:#fff;}

.__Mesh{background:#228B22;
color:#fff;}

.__Point_Cloud{background:#228B22;
color:#fff;}

.__Voxel{background:#228B22;
color:#fff;}

.__Video{background:#228B22;
color:#fff;}

.__Sound{background:#228B22;
color:#fff;}

.__Supervoxel{background:#228B22;
color:#fff;}

.__Superpixel{background:#228B22;
color:#fff;}

.__Superpoint{background:#228B22;
color:#fff;}

.__Stereo_Image{background:#228B22;
color:#fff;}

.__3D_Estimation{background:#36558F;
color:#fff;}

.__Action_Anticipation{background:#36558F;
color:#fff;}

.__Adversarial_Examples{background:#36558F;
color:#fff;}

.__Analytics{background:#36558F;
color:#fff;}

.__Classification{background:#36558F;
color:#fff;}

.__Completion{background:#36558F;
color:#fff;}

.__Data_Augmentation{background:#36558F;
color:#fff;}

.__Dataset{background:#36558F;
color:#fff;}

.__Denoising{background:#36558F;
color:#fff;}

.__Detection{background:#36558F;
color:#fff;}

.__Depth_Estimation{background:#36558F;
color:#fff;}

.__Domain_Adaptation{background:#36558F;
color:#fff;}

.__Flow_Estimation{background:#36558F;
color:#fff;}

.__Gaze_Estimation{background:#36558F;
color:#fff;}

.__Grasping{background:#36558F;
color:#fff;}

.__Instance_Segmentation{background:#36558F;
color:#fff;}

.__Labeling{background:#36558F;
color:#fff;}

.__Normal_Estimation{background:#36558F;
color:#fff;}

.__One-Class___Anomaly_Detection{background:#36558F;
color:#fff;}

.__Oversegmentation{background:#36558F;
color:#fff;}

.__Part_Segmentation{background:#36558F;
color:#fff;}

.__Pose_Estimation{background:#36558F;
color:#fff;}

.__Registration{background:#36558F;
color:#fff;}

.__Reconstruction{background:#36558F;
color:#fff;}

.__Reflection_Removal{background:#36558F;
color:#fff;}

.__Re-identification{background:#36558F;
color:#fff;}

.__Scene_Graph{background:#36558F;
color:#fff;}

.__Simulation{background:#36558F;
color:#fff;}

.__SLAM{background:#36558F;
color:#fff;}

.__Semantic_Segmentation{background:#36558F;
color:#fff;}

.__Super-Resolution{background:#36558F;
color:#fff;}

.__AutoEncoder{background:#aa08d3;
color:#fff;}

.__Clustering{background:#aa08d3;
color:#fff;}

.__Competition{background:#aa08d3;
color:#fff;}

.__Encoder-Decoder{background:#aa08d3;
color:#fff;}

.__GAN{background:#aa08d3;
color:#fff;}

.__Implemented{background:#aa08d3;
color:#fff;}

.__Interpretability{background:#aa08d3;
color:#fff;}

.__Multi-View{background:#aa08d3;
color:#fff;}

.__New_Pooling{background:#aa08d3;
color:#fff;}

.__RNN{background:#aa08d3;
color:#fff;}

.__Rendering{background:#aa08d3;
color:#fff;}

.__Sensor_Fusion{background:#aa08d3;
color:#fff;}

.__Sparsity{background:#aa08d3;
color:#fff;}

.__Synthetic{background:#aa08d3;
color:#fff;}

.__TreeRNN{background:#aa08d3;
color:#fff;}

.__wo_DL{background:#aa08d3;
color:#fff;}

