--find-links https://download.pytorch.org/whl/torch/
--find-links https://download.pytorch.org/whl/torchvision/
certifi==2023.7.22
charset-normalizer==3.2.0
fairscale==0.4.0
filelock==3.12.2
fsspec==2023.6.0
huggingface-hub==0.16.4
idna==3.4
packaging==23.1
Pillow==10.0.0
PyYAML==6.0.1
requests==2.31.0
timm==0.6.13
torch==1.13.1+cu117
torchaudio==0.13.1
torchvision==0.14.1+cu117
tqdm==4.65.0
typing_extensions==4.7.1
urllib3==2.0.4
sentencepiece==0.1.99
Cython==3.0.0
tensorboardX==2.6.2
iopath==0.1.10
numpy==1.23.0
boto3==1.28.24
