argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
async-generator==1.10
attrs==22.2.0
backcall==0.2.0
backports.cached-property==1.0.2
beautifulsoup4==4.12.2
bleach==1.5.0
blessings==1.7
bpython==0.22.1
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.5.30
cffi==1.15.1
charset-normalizer==2.0.12
curtsies==0.3.10
cwcwidth==0.1.5
cycler==0.11.0
Cython==0.29.36
dataclasses==0.8
decorator==5.1.1
defusedxml==0.7.1
descartes==1.1.0
entrypoints==0.4
enum34==1.1.10
filelock==3.4.1
fire==0.5.0
gdown==4.7.1
greenlet==2.0.2
h5py==3.1.0
html5lib==0.9999999
idna==3.4
importlib-metadata==4.8.3
importlib-resources==5.4.0
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.7.5
jedi==0.17.2
Jinja2==3.0.3
joblib==1.1.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.4
kiwisolver==1.3.1
llvmlite==0.28.0
Markdown==3.3.7
MarkupSafe==2.0.1
matplotlib==3.2.2
mistune==0.8.4
msgpack==1.0.5
msgpack-numpy==0.4.8
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.6
notebook==6.4.10
numba==0.43.0
numpy==1.14.5
nuscenes-devkit==1.1.2
opencv-python==4.6.0.66
packaging==21.3
pandocfilters==1.5.0
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.1
prometheus-client==0.17.0
prompt-toolkit==3.0.36
protobuf==3.19.6
ptyprocess==0.7.0
pybind11==2.10.4
pycocotools==2.0.6
pycparser==2.21
Pygments==2.14.0
pyparsing==3.1.0
pyquaternion==0.9.9
pyrsistent==0.18.0
PySocks==1.7.1
python-dateutil==2.8.2
pyxdg==0.28
PyYAML==6.0
pyzmq==25.1.0
qtconsole==5.2.2
QtPy==2.0.1
requests==2.27.1
scikit-learn==0.24.2
scipy==1.5.4
Send2Trash==1.8.2
setproctitle==1.2.3
Shapely==1.8.5.post1
six==1.16.0
soupsieve==2.3.2.post1
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.6.0
threadpoolctl==3.1.0
tornado==6.1
tqdm==4.64.1
traitlets==4.3.3
typing==3.7.4.3
typing_extensions==4.1.1
urllib3==1.26.16
wcwidth==0.2.6
Werkzeug==2.0.3
widgetsnbextension==3.6.4
zipp==3.6.0
